<!DOCTYPE html>
<html>
<head>
  <title>Rostra</title>
  <%= stylesheet_link_tag    "rostra/application" %>
  <%= javascript_include_tag "rostra/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
