/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#page_wrap { width: 970px; margin: auto; }
.text { line-height: 18px; }

.question {
  margin-bottom: 10px;
  border-bottom: dashed 1px #E0E0E0;
  width: 500px;
  padding-bottom: 15px;
}
.question h3 {
  margin-bottom: 5px;
}
.question cite {
  display: block;
  margin-bottom: 20px;
  color: #aaa;
}
.question cite a {
  font-style: normal;
  margin-left: 5px;
}

.question .tags {
  color: #aaa;
}
.question .tags a {
  margin: 0 3px;
}
.question .timestamp {
  color: #aaa;
  float: right;
}
