form .hint {
  display: block;
  margin-top: -10px;
  color: #aaa;
}
form label abbr {
  color: green;
  font-size: 18px;
  font-weight: normal;
}
form .field {
  position: relative;
  width: 550px;
}
form label {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}
form input,
form textarea {
  margin-bottom: 15px;
  padding: 3px;
  width: 100%;
}
textarea {
  line-height: 18px;
  height: 300px;
}
span.error {
  color: red;
  position: absolute;
  top: 5px;
  right: -5px;
}
.field_with_errors input,
.field_with_errors textarea {
  background: #fde6e4;
  border: 1px solid red;
}