<h1>Recent Questions</h1>

<div id="questions">
  <% @questions.each do |question| %>
    <div class="question">
      <h3 class="title"><%= question.title %></h3>
      <div class="text"><%= simple_format(question.details) %></div>
    </div>
  <% end %>
</div><!-- questions -->

<%= link_to 'Ask a question', new_question_path, :class => "button" %>
